@layer base {
  :root {
    --van-primary-color: var(--color-primary) !important;
    --van-danger-color: theme('colors.red.500') !important;
    --van-tabbar-item-active-color: var(--color-primary) !important;
    --van-button-primary-background-color: var(--color-primary) !important;
    --van-button-primary-border-color: var(--color-primary) !important;
    --van-checkbox-checked-icon-color: var(--color-primary) !important;
    --van-checkbox-label-color: var(--color-dark) !important;
    --van-text-color: var(--color-dark) !important;
    --van-text-color-2: var(--color-medium) !important;
    --van-field-label-color: var(--color-dark) !important;
    --van-field-error-message-color: theme('colors.red.500') !important;
  }
}

.van-address-edit__button {
  @apply !bg-primary !border-primary;
}

.van-button--primary {
  @apply !bg-primary;
}
